// 后台框架尺寸

// 菜单宽度
$navMenu: 250px;
$navMenuMini: 64px;
$layoutHeader: 75px;

// 主颜色
$mainColor: rgba(245, 108, 108, 0.7);

// 辅助色

@mixin webkit($type, $value) {
  -webkit-#{$type}: $value;
  -moz-#{$type}: $value;
  -o-#{$type}: $value;
  -ms-#{$type}: $value;
  #{$type}: $value;
}

@mixin labelDom($algin, $width, $line-height: "normal") {
  label {
    float: left;
    line-height: $line-height + px;
    width: $width + px;
    text-align: $algin;
  }
  .warp-content {
    margin-left: $width + px;
  }
 
}
