.el-submenu .el-menu-item.is-active {
  background-color: rgba(245, 108, 108, 0.7) !important;
}

.close {
  .el-submenu {
    .is-opened {
      .el-submenu__title {
        background-color: rgba(245, 108, 108, 0.7) !important;
      }
    }
  }
}
.el-menu--vertical {
  .el-menu-item {
    background-color: #334a5f !important;
    line-height: 56px;
  }
  .el-menu-item:hover {
    background-color: rgba(245, 108, 108, 1) !important;
  }
}
.el-menu {
  border: none;
}
